---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignArrayOfStructures: Left
AlignEscapedNewlines: DontAlign
AlignTrailingComments:
  Kind: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 120
ContinuationIndentWidth: 2
IndentCaseBlocks: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertNewlineAtEOF: true
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
#ReflowComments: false # for Doxygen
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterIfMacros: false
  #AfterPlacementOperator: false
SpaceBeforeRangeBasedForLoopColon: false
TabWidth: 4
